{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "no-restricted-syntax": ["off", "ForOfStatement"]
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}